<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7" align="center">
        <tr>
            <th>Nome do workshop</th>
            <th>Objetivos de Aprendizado</th>
            <th>Duração do workshop</th>
            <th>Ações    </th>
        </tr>
        <% for(var i = 0; i < workshops.length; i++) {%>
        <tr>
            <td><%= workshops[i]%></td>
            <td><%= objetivos[i]%></td>
            <td><%= duracao[i]%></td>
            <td>
                <a href="/editWorkshop/?id=<%=id[i]%>">Editar</a>
               
                <a href="/delwork/?idwo=<%=id[i]%>" >Deletar</a>
               
            </td>
        </tr>
        <% } %>
    </table>
    </div>
</div>
    <p>
      <form align="center" method="get" action="/">
        <button type="submit">Página Inicial</button>
      </form>
    </p>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function editWorkshop(){
       
       $.ajax({
        
        url:"/listaworkshops",
        type:"POST",
        data:$("#the-form").serialize(),
        success:function(res){
            
            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);
            return false;
        }
        
       });
    }
    
    function deleteWorkshop(user_id){
    
        $.ajax({
            url:"/delwork/?idwo="+user_id,
            type: 'POST',
            success: function(res) {
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
            
                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>

</body>

</html>